node_modules

# Build Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Development & OS
.env
.env.*
!.env.sample
!.env.test
.sops-age-key.txt
.DS_Store
Thumbs.db
*.db
.devenv*
devenv.local*
.direnv
